@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: 'Aino Headline';
    src: url("Aino-Headline.otf") format("opentype");
    font-display: swap;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 28px;
    }
}

body {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F0DB4F;
    color: #323330;
    font-family: Roboto, sans-serif;
    text-align: center;
}

h1, .typed-cursor {
    font-family: 'Aino Headline', sans-serif;
    font-size: 3rem;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #C589E8;
}

.typed-cursor {
    transform: translateZ(0);
    display: inline-table;
    /* Why? Because Google Chrome uses hardware acceleration for certain transitions. This means that whenever the typed-cursor
       element does its blinking animation, a rounded integer value will be used as it's size instead of the actual floating
       point value. When the typed text is mirrored, i.e. the cursor is to the left of the text, this rounding will mean
       that everything right of it will suddenly jump by the rounded amount. display: inline-table forces an integer size and fixes this.
       Additionally transform: translateZ(0) forces hardware acceleration to be always active while the cursor is shown
       https://www.binarymoon.co.uk/2014/02/fixing-css-transitions-in-google-chrome/
     */
}

.mirrored {
    display: inline-table;
    transform: scale(-1, 1);
}

.fa-github, .fa-linkedin {
    color: #323330;
}

.weird-gif {
    width: 200px;
}

footer {
    margin: auto 0 7vh 0;
}

footer p {
    color: #979797;
}
